todo>md-card {
  margin: 0.5em;
  width: 406px;
  box-sizing: border-box;
}

.todo-label {
  color: lightgray;
}

.todo-right {
  float: right;
}

.todo-smaller {
  font-size: smaller;
}

.todocomment-id,
.todocomment-updated {
  color: lightgray;
}

.todocomment-text {
  color: "primary";
}
